/*
h1{
	color: black;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-family: Baloo Bhai;
	font-size: 70px;
}

h2{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-family: Baloo Bhai;
	font-size: 30px;
}
*/

* {
  box-sizing: border-box;
  border-width: 1;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  background-size: cover;
  background-position: center;
  color: black;
  font-family: Baloo Bhai;
  font-weight: lighter;
  font-size: 1.2em;
}

button, input[type="submit"]{
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #f5f5f5;
  width: fit-content;
  height: 35px;
  padding: 10px;
  background-color: #000000;
  border-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 100;
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
  background-color: #f2c94c;
  color: black;
  border-style: solid;
  border-color: black;
}

select,
option {
  width: 260px;
}

/* Navigation */

.navtab {
  position: fixed;
  align-content: right;
  background-color: black;
  color: #fff;
  box-sizing: border-box;
  border-radius: 15px;
  width: 70px;
  max-height: 550px;
  top: 30%;
  left: 2px;
}

.logo {
  position: relative;
  height: 60px;
  color: #f2c94c;
  font-weight: 100;
  font-size: 64px;
  margin: 0px;
  padding: 0px;
}

.logo h1,
h4 {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

.logo h1 {
  left: 30%;
  font-size: 0.7em;
  margin: 0px;
}

.logo h4 {
  -webkit-text-stroke: 1px black;
  height: 40px;
  color: white;
  font-size: 0.4em;
  bottom: -11px;
  left: 50%;
  padding: 0;
}

.navigation {
  text-align: center;
  margin-top: 40%;
  padding: 0px;
  list-style: none;
}

.navigation img {
  object-fit: contain;
  text-align: left;
  height: 20px;
  width: 20px;
  margin: 15px;
}

.navigation .logout {
  object-fit: contain;
  height: 25px;
  width: 25px;
  margin-top: 70px;
}

.invert {
  filter: invert(1);
}

.content {
  margin-top: 30px;
  margin-left: 140px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 0% 10%;
}

/* Header */

.header {
  position: relative;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-family: Baloo Bhai;
  background-color: #f2c94c;
  width: 100%;
  margin-top: 5px;
  padding-left: 20px;
  border-radius: 15px;
  display: flex;
  font-size: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}

.header h1,
h2 {
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.header h1 {
  font-size: 60px;
}

.header h2 {
  font-size: 21px;
}

/* Panel Format */

.panel {
  position: relative;
  background-color: #f5f5f5;
  height: fit-content;
  width: fit-content;
  margin: 20px;
  padding: 30px;
  border-style: solid;
  border-radius: 15px;
}

.title {
  position: relative;
  font-size: 1.3em;
}

.title_right{
  float: right;
}

}
.title button{
  position: absolute;
  right: 20px;
  top: 15%;
}

.data {
  position: relative;
  border-style: solid;
  height: 80px;
  width: 500px;
  background-color: #f2c94c;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

.data .icon {
  font-weight: 100;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #f2c94c;
}

.data .details {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 30px;
  margin-bottom: 10px;
}

.data .details h4 {
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
}

.data .details h5 {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.panel input[type="submit"] {
  position: absolute;
  right: 5px;
  bottom: 10px;

}

.data .item_date {
  position: absolute;
  height: 30px;
  width: fit-content;
  bottom: 0px;
  right: 0px;
}

.data .close {
  position: absolute;
  cursor: pointer;
  top: -8px;
  right: -3px;
  padding: 3px 9px;
  border-radius: 25px;
}

.data .close:hover {
  background: black;
  color: #f2c94c;
}

#course_code {
  display: flex;
}

#course_code input[type="text"] {
  margin: 10px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  text-transform: uppercase;
}


.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border-radius: 25px;
  border-bottom: 1px solid #fff;
  outline: none;
  height: 25px;
}

.loginbox input[type="submit"] {
  margin-left: 155px;
  border-radius: 25px;
  outline: none;
  width: 100px;
  height: 35px;
  background-color: black;
  color: white;
  font-size: 12px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
}