<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/activity.css') }}">
</head>

<body>
    <h1>Quiz on Important Facts</h1>
    <div class="quiz-container">
        <div id="quiz"></div>
    </div>
    <button id="previous">Previous Question</button>
    <button id="next">Next Question</button>

    <form action="{{ url_for('test_submit', activity=activity) }}" method="POST">
        {# <textarea id="textbox" rows="6"></textarea> #}
    </form>
    <button id="submit">Submit Quiz</button>

    <div id="results"></div>

    <script>
        const myQuestions = [
            {% for question in questions %}
        {
            {% if question.type == 'stt' %}
            question: "{{ question.ques }}",
                answers: [],
            correctAnswer: "{{ question.answer }}"

            {% else %}
            question: "{{ question.ques }}",
                answers: [{{ choice[loop.index - 1] | safe }},
            ],
        correctAnswer: "{{ question.answer }}"
            {% endif %}

        },
        {% endfor %}    
        ];

        console.log('test');
(function () {
    // Functions
    function buildQuiz() {
        // variable to store the HTML output
        const output = [];

        // for each question...
        myQuestions.forEach(
            (currentQuestion, questionNumber) => {

                // variable to store the list of possible answers
                const answers = [];

                if(currentQuestion.answers.length == 0){
                    console.log("SPEECH TO TEXT QUESTION");
                    answers.push(`<textarea id="textarea" rows="6"></textarea><br>
                    <button id="start-btn" title="Start">Speak</button><br>`);
                }
                // and for each available answer...
                for (letter in currentQuestion.answers) {
                    // ...add an HTML radio button
                    answers.push(
                        `<label>
            <input type="radio" name="question${questionNumber}" value="${currentQuestion.answers[letter]}">
            ${currentQuestion.answers[letter]}
          </label>`
                    );
                }

                // add this question and its answers to the output
                output.push(
                    `<div class="slide">
          <div class="question"> ${currentQuestion.question} </div>
          <div class="answers"> ${answers.join("")} </div>
        </div>`
                );
            }
        );

        // finally combine our output list into one string of HTML and put it on the page
        quizContainer.innerHTML = output.join('');
    }

    function showResults() {

        // gather answer containers from our quiz
        const answerContainers = quizContainer.querySelectorAll('.answers');

        // keep track of user's answers
        let numCorrect = 0;
        let num_of_items = 0;

        // for each question...
        myQuestions.forEach((currentQuestion, questionNumber) => {

            // find selected answer
            const answerContainer = answerContainers[questionNumber];
            const selector = `input[name=question${questionNumber}]:checked`;
            const userAnswer = (answerContainer.querySelector(selector) || {}).value;
            var voiceInput = null;

            if(document.querySelector("#textarea")){
                voiceInput = String(document.querySelector("#textarea").value).toLowerCase().trim();
            }
            console.log(document.querySelector("#textarea"));
            console.log("TEEEEST" + selector);
            console.log("VOICE INPUT" + voiceInput);
            console.log(currentQuestion.correctAnswer);

            // if answer is correct
            if (userAnswer === currentQuestion.correctAnswer || voiceInput == String(currentQuestion.correctAnswer).toLowerCase().trim()) {
                // add to the number of correct answers
                numCorrect++;

                // color the answers green
                answerContainers[questionNumber].style.color = 'lightgreen';
            }
            // if answer is wrong or blank
            else {
                // color the answers red
                answerContainers[questionNumber].style.color = 'red';
            }

            num_of_items += 1;
        });

        // submit form
        const form = document.querySelector('form');
        
        const score = document.createElement('input');
        score.setAttribute("type", "hidden");
        score.setAttribute("method", "post");
        score.setAttribute("value", numCorrect);
        score.setAttribute("name", "score");

        const items = document.createElement('input');
        items.setAttribute("type", "hidden");
        items.setAttribute("method", "post");
        items.setAttribute("value", num_of_items);
        items.setAttribute("name", "items");

        form.append(score);
        form.append(items);

        console.log(numCorrect);
        console.log(num_of_items);
        console.log(score);
        console.log(items);
        form.submit();

        // show number of correct answers out of total
        // resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length}`;
    }

    function showSlide(n) {
        slides[currentSlide].classList.remove('active-slide');
        slides[n].classList.add('active-slide');
        currentSlide = n;
        if (currentSlide === 0) {
            previousButton.style.display = 'none';
        }
        else {
            previousButton.style.display = 'inline-block';
        }
        if (currentSlide === slides.length - 1) {
            nextButton.style.display = 'none';
            submitButton.style.display = 'inline-block';
        }
        else {
            nextButton.style.display = 'inline-block';
            submitButton.style.display = 'none';
        }
    }

    function showNextSlide() {
        showSlide(currentSlide + 1);
    }

    function showPreviousSlide() {
        showSlide(currentSlide - 1);
    }

    // Variables
    const quizContainer = document.getElementById('quiz');
    const resultsContainer = document.getElementById('results');
    const submitButton = document.getElementById('submit');

    // Kick things off
    buildQuiz();

    // Pagination
    const previousButton = document.getElementById("previous");
    const nextButton = document.getElementById("next");
    const slides = document.querySelectorAll(".slide");
    let currentSlide = 0;

    // Show the first slide
    showSlide(currentSlide);

    // Event listeners
    submitButton.addEventListener('click', showResults);
    previousButton.addEventListener("click", showPreviousSlide);
    nextButton.addEventListener("click", showNextSlide);
})();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/speech.js') }}"></script>

    {# <script src="{{ url_for('static', filename='scripts/activity.js') }}"></script> #}

</body>

</html>