<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add Activity</h1>
    <form action="/activity/submit">
        <div id='questions'>
            <div id="firstQuestion">
                <h2>Question 1: <input id='test' type="text" name="question[]"> </h2>
                <h2>Type <select name="type" id="q_type">
                        <option value="speech-to-text">Multiple Choice</option>
                        <option value="speech-to-text">Speech-to-Text</option>
                    </select>
                </h2>
                <h2>Correct Answer <input type="text" name="answer[]" id="q_answer"></h2>
                <h2>Choice: <input type="text" name="choice[]" id="q_choice">
                    <button type="button" id="btn_choice">Add Choice</button>
                </h2>
            </div>
            <br>
            <button type="button" id="btn_question">Add Question</button> <br>
        </div>
        <input type="submit" value="Submit">
    </form>

    <script src="../static/scripts/add_question.js"></script>
</body>

</html>