<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Document</title>
</head>

<body>
    <h1>Add Activity</h1>
    <form action="/course/code={{course_code}}/create-activity/create" method="POST" id="activity_form">
        <div id='questions'>
            <div id="template" class="hidden">
                <!-- Question Text Box -->
                <h2 id="q_number">Question #: </h2> <input type="text" name="question[]">
                <!-- Select Box -->
                <h2>Type <select name="type[]" id="q_type">
                        <option value="speech-to-text">Multiple Choice</option>
                        <option value="speech-to-text">Speech-to-Text</option>
                    </select>
                </h2>
                <!-- Correct Answer Text Box -->
                <h2>Correct Answer <input type="text" name="answer[]" id="q_answer"></h2>
                <!-- Wrong Answer Text Box -->
                <!-- <h2>Choice: <input type="text" name="choice_#[]" id="q_choice"> -->
                    <button type="button" id="btn_choice" class="choice">Add Choice</button>
                </h2>
                <br>
                <br>
            </div>
            
            <button type="button" id="btn_question">Add Question</button> <br>
            <input id="question_num" name="questionNum" type="hidden" value="0">
        </div>
        <input type="submit" value="Submit">
    </form>
    {% if message %}
    <h1>{{ message | safe }}</h1>
    {% endif %}


    <script src="{{ url_for('static', filename='scripts/add_question.js') }}"></script>
</body>

</html>