{% extends "base.html" %}

{% block title %}
Course Room
{% endblock %}
{% block content %}
<div class="header">
    <h1>Course</h1>
</div>


<!-- Join Code -->
<div class="panel">
    <div class="title">Join Code</div>
    <h2>{{ course_code }}</h2>
</div>
<!-- List of Activities -->
<div class="panel">
    <div class="title">
        <h2>Activities</h2>
    </div>

    <div class="title">
        On-Going Activities
    </div>
    <div class="data">
        <div class="details">
            <h4>Mary Had a Little Lamb</h4>
            <h5>Reading </h5>
        </div>
        <input type="submit" name="submit" value="Perform">
        <div class="item_date">
            <h6>Due Date: XX/XX/XX 00:00AM</h6>
        </div>
    </div>
    <div class="title">
        New Activities
    </div>
    <div class="data">
        <div class="details">
            <h4>Three Little Pigs</h4>
            <h5>Reading </h5>
        </div>
        <input type="submit" name="submit" value="Try Again">
        <div class="item_date">
            <h6>Due Date: XX/XX/XX 00:00AM</h6>
        </div>
    </div>
    <div class="title">
        <h2>Performed Activities</h2>
    </div>
    <div class="data">
        <div class="details">
            <h4>Little Red Riding Hood</h4>
            <h5>Reading </h5>
        </div>
        <input type="submit" name="submit" value="Try Again" disabled>
        <div class="item_date">
            <h6>Due Date: XX/XX/XX 00:00AM</h6>
        </div>
    </div>
    <div class="button_area">
        <form action="/manage-course/code=<course_code>/create-activity/" method="POST">
            <input type="submit" value="Create an Activity">
        </form>
    </div>
</div>

<!-- List of Students -->
<div class="panel">
    <div class="title">
        <h2>Students</h2>
    </div>

    {% for student in students %}
    <div class="data">
        <div class="details">
            <h4>{{student.name}}</h4>
        </div>
    </div>
    {% endfor %}

    <!-- Returns Number of Students to Database -->
    <div class="title_right">
        <h5>Students: {{num_students}}</h5>
    </div>
</div>

<!-- List of Announcements -->
<div class="panel">
    <div class="title_right">
    </div>
    <div class="title">
        <h2>Announcements</h2>
    </div>
    {% for announcement in announcements %}
    <div class="data">
        <div class="details">
            <h4>{{announcement.title}}</h4>
            <h5>{{announcement.message}}</h5>
        </div>
        <div class="item_date">
            <h6>Sent: June XX, 00:00AM</h6>
        </div>
    </div>
    {% endfor %}
</div>

<!-- List of Learning Materials -->
<div class="panel">
    <div class="title_right">
    </div>
    <div class="title">
        <h2>Learning Materials</h2>
    </div>
    {% for material in materials %}
    <div class="data">
        <div class="details">
            <h4>{{material.title}}</h4>
        </div>
        <div class="button">
			<form action="{{ url_for('read_material', course_code=course_code, material_id=material.id) }}" method="POST">
				<input type="submit" name="submit" value="View Material">
			</form>
        <div class="item_date">
            <h6>Sent: June XX, 00:00AM</h6>
        </div>
    </div>
    {% endfor %}

    <form action="/manage-course/code=<course_code>/material">
        <input type="submit" value="Create a Learning Material">
    </form>
</div>

<!-- Create new Announcement -->
<div class="panel">
    <div class="title">
        <h2>Post an Announement</h2>
    </div>
    <form action="/manage-course/code={{course_code}}/announcement/create" method="POST">
        <h2>Title</h2>
        <input type="text" name="title" placeholder="Announcement Title">
        <h2>Message</h2>
        <input type="text" name="content" placeholder="Announcement">
        <input type="submit" value="Post an Announcement">
    </form>
    {% if message %}
    <p class="message">{{ message | safe }}</p>
    <br>
    {% endif %}
</div>
{% endblock %}