{% extends "base.html" %}

{% block title %}
Course Room
{% endblock %}
{% block content %}
<div class="header">
    <h1>Course</h1>
</div>

<div class="panel">
    <!-- Returns Number of Students to Database -->
    <div class="title_right">
        <h5>Students: 3</h5>
    </div>
    <div class="title">
        <h2>Students</h2>
    </div>

    {% for student in students %}
    <div class="data">
        <div class="details">
            <h4>Baclig, James Eric</h4>
        </div>
    </div>
    {% endfor %}
</div>
<div class="panel">
    <div class="title_right">
        <!-- Link To Add Announcement -->
        <form action='/course/code={{ course_code }}/'>
            <input type="submit" value="Post an Announcement">
        </form>
    </div>
    <div class="title">
        <h2>Announcements</h2>
    </div>
    {% for announcement in announcements %}
    <div class="data">
        <div class="details">
            <h4>{{announcement.title}}</h4>
            <h5>{announcement.message}}</h5>
        </div>
        <div class="item_date">
            <h6>Sent: June XX, 00:00AM</h6>
        </div>
    </div>
    {% endfor %}
</div>
<div class="panel">
    <div class="title_right">
        <form action="">
            <input type="submit" value="Create an Activity">
        </form>
    </div>
    <div class="title">
        <h2>Activities</h2>
    </div>
    <div class="title">
        On-Going Activities
    </div>
    <div class="data">
        <div class="details">
            <h4>Mary Had a Little Lamb</h4>
            <h5>Reading </h5>
        </div>
        <input type="submit" name="submit" value="Perform">
        <div class="item_date">
            <h6>Due Date: XX/XX/XX 00:00AM</h6>
        </div>
    </div>
    <div class="title">
        New Activities
    </div>
    <div class="data">
        <div class="details">
            <h4>Three Little Pigs</h4>
            <h5>Reading </h5>
        </div>
        <input type="submit" name="submit" value="Try Again">
        <div class="item_date">
            <h6>Due Date: XX/XX/XX 00:00AM</h6>
        </div>
    </div>
    <div class="title">
        <h2>Performed Activities</h2>
    </div>
    <div class="data">
        <div class="details">
            <h4>Little Red Riding Hood</h4>
            <h5>Reading </h5>
        </div>
        <input type="submit" name="submit" value="Try Again" disabled>
        <div class="item_date">
            <h6>Due Date: XX/XX/XX 00:00AM</h6>
        </div>
    </div>
</div>
{% endblock %}