{% extends "base.html" %}

{% block title %}
Manage Course
{% endblock %}

{% block content %}
<div class="header">
	<h1>Courses</h1>
</div>
<div class="panel">
	<div class="title">
		<h2>Active Courses</h2>
	</div>
	{% for course in courses %}
	<div class="data">
		<div class="icon">
			<p>ENG</p>
		</div>
		<div class="details">
			<h4>{{course.name}}</h4><br>
			<h5>Adviser: {{ course.host }} </h5>
		</div>
		<div class="button">
			<form action="/code={{course.code}}" method="POST">
				<input type="submit" name="submit" value="View course">
			</form>
		</div>
	</div>
	{% endfor %}
</div>

<div class="panel">
	<div class="title">
		<h2>Join Course</h2>
	</div>

	<form action="/course/join/submit" method="POST">
		<div id="course_code">
			<input type="text" name="joincode[]" id="input_1" maxlength="1">
			<input type="text" name="joincode[]" id="input_2" maxlength="1">
			<input type="text" name="joincode[]" id="input_3" maxlength="1">
			<input type="text" name="joincode[]" id="input_4" maxlength="1">
			<input type="text" name="joincode[]" id="input_5" maxlength="1">
		</div>

		<div>
			<input type="submit" name="submit" value="Join">
		</div>
	</form>

</div>


</div>
<script src="../scripts/mcstudent.js"></script>

{% if message %}
<p class="error">{{ message | safe }}</p>
{% endif %}

{% endblock %}