<html>

<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Baloo Bhai' rel='stylesheet'>

<body>
	<div class="login_title">
		<h1>Story Time</h1>
		<h3>Learn the tales</h2>
	</div>
	<form action="/register/submit" method="POST">
		<div class="login_frame">
			<div class="login_background">
				<div class="loginbox">
					<font color=black>
						<h2>Register</h2>
						<div class="login_panel">
							<p>Username</p>
							<input type="text" name="username" placeholder="Enter Username">
						</div>
						<div class="login_panel">
							<p>Password</p>
							<input type="password" name="password" placeholder="Enter Password">
							<p>Confirm Password</p>
							<input type="password" name="conf_password" placeholder="Confirm Password">
						</div>
						<div class="login_panel">
							<p>Account type</p>
							<select name="acct_type" id="account">
								<option value=" ">Choose your account type</option>
								<option value="student">Student</option>
								<option value="teacher">Teacher</option>
							</select><br><br>
						</div>
						<a href="main.html">
							<input type="submit" name="" value="Register"><br></a>
				</div>
			</div>
			<a href="index.html">Have an account?</a>
		</div>
	</form>

	<!--Error Message-->
	{% if error %}
	<p class="error">Error: {{ error | safe }}</p>
	<br>
	{% endif %}

	<!--Message-->
	{% if message %}
	<p class="message">{{ message | safe }}</p>
	<br>
	{% endif %}

	</div>

</body>
</head>

</html>